@model Khati.Models.Vegetable

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Vegetable</h2>

@using (Html.BeginForm("Edit", "Vegetable", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Vegetable Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.VegetableId)

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.VegetableName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VegetableName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VegetableName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.PictureFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PictureFile, new { @type = "file", @class = "form-control" })
                @if (!string.IsNullOrEmpty(Model.Picture))
                {
                    <img src="@Url.Content(Model.Picture)" width="100" style="border-radius:4px;" alt="Vegetable Picture" />
                }
                @Html.ValidationMessageFor(model => model.PictureFile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary ms-2" })
            </div>
        </div>
    </div>
}

